@font-face {
    font-family: 'Karla';
    src: url('assets/fonts/Karla-VariableFont_wght.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Karla';
    src: url('assets/fonts/Karla-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}


:root {
    /* primary */
    --color-green-200: hsl(148, 38%, 91%);
    --color-green-600: hsl(169, 82%, 27%);
    --color-red: hsl(0, 66%, 54%);
    
    /* neutral */
    --color-white: hsl(0, 0%, 100%);
    --color-grey-500: hsl(186, 15%, 59%);
    --color-grey-900: hsl(187, 24%, 22%);

    
    --spacing-05: 0.125rem;
    --spacing-1: 0.25rem;
    --spacing-2: 0.5rem;
    --spacing-3: 0.75rem;
    --spacing-4: 1rem;
    --spacing-5: 1.25rem;
    --spacing-6: 1.5rem;
    --spacing-7: 1.75rem;
    --spacing-8: 2rem;
    --spacing-9: 2.25rem;
    --spacing-10: 2.5rem;
    --spacing-12: 3rem;
    --spacing-16: 4rem;
    --spacing-20: 5rem;

    --size-1: 0.25rem;
    --size-2: 0.5rem;
    --size-3: 0.75rem;
    --size-4: 1rem;
    --size-5: 1.25rem;
    --size-6: 1.5rem;
    --size-7: 1.75rem;
    --size-8: 2rem;
    --size-9: 2.25rem;
    --size-10: 2.5rem;
    --size-11: 2.75rem;
    --size-12: 3rem;
    --size-16: 4rem;
    --size-20: 5rem;

    font-size: 16px;

    font-family: "Karla", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body, h1, p, input, fieldset {
    margin: 0;
}

main {
    background-color: var(--color-green-200);

    min-height: 100vh;

    padding: var(--spacing-3);

    
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    background-color: var(--color-white);

    display: flex;
    flex-direction: column;
    gap: var(--spacing-4);

    padding: var(--spacing-5);

    border-radius: var(--size-4);
    color: var(--color-grey-900);
}

label {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-3);

    font-size: 0.8rem;
}

label:has(input:required, textarea:required) span::after {
    content: '*';
    color: var(--color-green-600);
}

input, textarea {
    box-sizing: border-box;
    border: 1px solid var(--color-grey-500);
    border-radius: var(--size-1);

    padding: var(--spacing-2) var(--spacing-5);

    font-family: 'Karla';
    color: var(--color-grey-900);
}

.submitted input:invalid, .submitted textarea:invalid {
    border-color: var(--color-red);
}

input:not([type=radio], [type=checkbox]) {
    height: var(--size-10);
}

textarea {
    height: var(--size-20);
    
    resize: none;
}

fieldset {
    border: none;
    padding: 0;
    
    display: flex;
    flex-direction: column;
    gap: var(--spacing-4);
}

fieldset label {
    border: 1px solid var(--color-grey-500);
    border-radius: var(--size-1);

    height: var(--size-10);

    display: flex;
    flex-direction: row;
    align-items: center;

    font-size: 0.9rem;

    padding: 0 var(--spacing-5);
}

label:has([type=checkbox]) {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

label:has([type=checkbox]) p{
    width: 100%;
}

.error-message {
    display: none;
    color: var(--color-red);
}

p.show {
    display: block;
}

button {
    height: var(--size-10);
    border-radius: var(--size-2);
    border: none;

    background-color: var(--color-green-600);
    color: var(--color-white);
    font-size: 700;
}

#success-notification {
    display: none;

    border-radius: var(--size-3);

    padding: var(--spacing-5);


    background-color: var(--color-grey-900);
    color: var(--color-white);

    position: fixed;
    top: var(--spacing-5);
    left: 50%;
    width: max-content;
    max-width: 80%;
    transform: translateX(-50%);
}

#success-notification header {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-4);

    font-weight: 700;

    margin-bottom: var(--spacing-4);
}

#success-notification p {
    font-size: 0.8rem;
    text-align: center;
}

@media (min-width: 768px) {
    form {
        display: grid;
        grid-template-areas:
            'header header'
            'first-name last-name'
            'email email'
            'query-type query-type'
            'message message'
            'consent consent'
            'submit-btn submit-btn';
    }

    .header {
        grid-area: header;
    }
    .first-name {
        grid-area: first-name;
    }
    .last-name {
        grid-area: last-name;
    }
    .email {
        grid-area: email;
    }
    .query-type {
        grid-area: query-type;
    }
    .message {
        grid-area: message;
    }
    .consent {
        grid-area: consent;
    }
    .submit-btn {
        grid-area: submit-btn;
    }
}